# add yourself here if name/email changes
#
# format:
#
# propername <proper@email> commitname <commit@email>

Matteo Cavestri <matteo.cavestri@mpt.org> Matteo Cavestri <matteo.cavestri@protonmail.ch>